html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    background: url('../images/abstract-stucco-texture-1142801.jpg') #dddddd;
}

#page-body::after {
    content: '';
    display: block;
    height: 54px;
}

header {
    width: 100%;
    height: 76px;
    border: none;
    border-bottom: 1px solid #999999;
    background: #ffffff;
}

#header-object {
    width: 100%;
    height: 77px;
}

#top {
    margin: 0 auto;
    width: 920px;
    padding: 20px;
    background: #ffffff;
}

#name {
    background: #7e5303;
    color: #ffffff;
    display: inline;
    padding: 22px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
}

#links {
    float: right;
}

a {
    color: #aaaaaa;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
}

a:hover {
    color: #bbbbbb;
}


.top-link {
    padding: 0px 15px 0px 15px;
    margin: 10px 0px 10px 0px;
    border-right: 1px solid #eeeeee;
}

#top-right-link {
    border: none;
}

#middle {
    margin: 20px auto;
    padding: 25px;
    width: 908px;
    border: 1px solid #999999;
    background: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    color: #999999;
}

.page-headline {
    color: #7e5303;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
}

#profile-image {
    padding: 10px;
}

.image-box {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 10px;
    height: 200px;
    width: 200px;
}

.image-text-box {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #7e5303;
    color: #ffffff;
    z-index: 3;
}

.centered {
    text-align: center
}

footer {
    background: #555555;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 54px;
    margin: 0;
    border-top: 5px solid #7e5303
}

#copyright {
    position: absolute;
    color: #cccccc;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 11px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0 auto;
}

input[type="text"], textarea {
    width: 100%;
    margin: 5px 0;
    padding: 5px;
}

textarea {
    height: 200px;
}

.button {
    background: #a62399;
    border: none;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
}

@media only screen and (max-width: 980px) {
    #top {
        width: 90%;
        margin: 0;
    }
    #middle {
        margin: 20px;
        width: 593px;
    }
}

@media only screen and (max-width: 768px) {
    #top {
        width: 93%;
    }
    #middle {
        margin: 5px 5px 20px;
        width: 90%;
    }
}

@media only screen and (max-width: 640px) {
    header {
        height: 99px;
    }
    #top {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    #links {
        float: none;
        display: flex;
        justify-content: center;
    }
    #name {
        display: block;
        margin: 0;
        padding: 12px;
    }
    #header-object{
        height: 100px;
    }
    #middle {
        width: 89%;
        margin: 0 0 15px 0;
    }
    img {
        width: 100%;
    }
}
